{% include head.html %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
       <h5 class="card-title">Students</h5>
       ↓
      </div>
    </div>

    <h3>Teachers</h3>

    ↓

    <h3>Principal</h3>

    ↓

    <h3>School Board</h3>
    <p>(Also called: School district, School division, School council, District education council, Divisional education council)</p>
    <p>School boards make decisions for the group of schools within its area. (For example: they implement the curriculum, make hiring and firing decisions, and decide when and how money should be spent on schools.)</p>
    <div class="row">
      <div class="col">
        ↓
        <p>Provincial/Territorial Government</p>
      </div>
      <div class="col">
        ↓
        <p>The head of a school board is called the superintendent, and the members are called trustees or members.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>In some remote areas, there are no school boards, and schools are operated directly by the government.</p>
            <p>Private schools may or may not have school boards. If you go to a private school, you might want to look on your school’s website, or ask someone at your school, whether there is a school board.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>For a complete list of the school boards in each province and territory check out our Resources page.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include foot.html %}