
    <div class="col-12 footer">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Resource Page</a></li>
        <li class="list-inline-item"><a href="#">Key Terms</a></li>
        <li class="list-inline-item"><a href="#">Sources</a></li>
      </ul>
    </div>
  </div>
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/plugins.js -->
  <script src="/bower_components/bootstrap/js/dist/util.js"></script>
  <script src="/bower_components/bootstrap/js/dist/alert.js"></script>
  <script src="/bower_components/bootstrap/js/dist/button.js"></script>
  <script src="/bower_components/bootstrap/js/dist/carousel.js"></script>
  <script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
  <script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
  <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
  <script src="/bower_components/bootstrap/js/dist/scrollspy.js"></script>
  <script src="/bower_components/bootstrap/js/dist/tab.js"></script>
  <script src="/bower_components/bootstrap/js/dist/tooltip.js"></script>
  <script src="/bower_components/bootstrap/js/dist/popover.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
  </body>
</html>
